.header-primary{
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 6rem;

        &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 3rem;
        font-weight: 400;
        animation: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        }
        &--sub{
            display: block;
            font-size: 1.9rem;
            letter-spacing: 1.6rem;
            font-weight: 700;
            animation: moveInRight;
            animation-duration: 1s;
            animation-timing-function: ease-out;        
        }
}

body{
    font-family: "Lato", sans-serif;
    padding: 3rem;
    line-height: 1.7;
    box-sizing: border-box;
}


.heading-secondary{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: 0.2rem;

    &:hover{
        transform: skewY(2deg) skewX(20deg) scale(1.1);
        text-shadow: .5rem 1rem 1rem rgba($color-dark-grey,.2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #777;
}

.paragragh{
    font-size: 1.6rem;
    color: #777;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}